html{
    scroll-behavior: smooth;
}
head{
    font-family: nexa;
    text-align: start;
    color:bisque;
    padding: 10px 0;
    display: flex;
}

body{
    font-family: nexa;
    background-color: #343D3A;
}

.logo{
    background-color: #fd2e58;
    text-align: center;
    font-size: 30px;
    font-family: nexa;
    font-weight: bold;
    overflow: hidden;
    padding: 10px 17px;
    margin: 40px;
    border-radius: 5px;
}

.logohome{
    text-align: center;
    overflow: hidden;
    padding: 10px 17px;
    margin: 40px;
}

.topnav{
    background: transparent;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    justify-content: space-evenly;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
.topnav a {
    align-items: center;
    display: flex;
    color:#fff;
    text-align: center;
    padding: 25px 75px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 5px;
}
.topnav a:hover {
    color: #ddd;
    transition: 0.5s;
    background-color: #fd2e58;
}

.closebtn {
    align-self: flex-end;
     
}
#mySidenav {
   height: 100%;
   width: 150px;
   display: flex;
   flex-direction: column;
   justify-content: left;
   background-color: #fd2e58;
   position: fixed;
   top: 0;
   left: -300px;
   font-size: 20px;
   transition: left 0.4s;
   padding-left: 30px;
   overflow-x: hidden;
}
#mySidenav:target {
    left: 0px;
}
#mySidenav a {
   color: black;
   padding-inline: 20px;
   padding-block: 8px;
   text-decoration: none;
   font-family: sans-serif;
}
#mySidenav a:hover {
   color: black;
}

.box {
    display: inline-block;
    background: linear-gradient(to top, #343D3A, #fd2e58);
    cursor: pointer;
    transition: 0.5s ease;
    width: 300px;
    height: 100px;
    padding: 50px;
    margin: 30px;
    border-radius: 25px 25px 0px 0px;
  }

.box a{
    color: black;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}


.box:hover {
    transform: scale(1.10);
    opacity: 1;
  }

.icon {
    height: 60px;
}

.box .icon { 
    display: flex;
    float: right;
}
