
html{
    scroll-behavior: smooth;
}
head{
    text-align: start;
    color:bisque;
    padding: 10px 0;
    display: flex;
    
}
body{
    background-color:rgb(32, 31, 31);
}

.logo{
    background-color:transparent;
    text-align: center;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    overflow: hidden;
    padding: 7px 8px;
    width: 100%;
}
.logo.img{
    width: 300px;
    height: 20px;
}

.topnav{
    background-color:rgb(32, 31, 31);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    justify-content: space-evenly;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
.topnav a {
    align-items: center;
    display: block;
    color:#fff;
    text-align: center;
    padding: 25px 75px;
    text-decoration: none;
    font-size: 12px;
}
.topnav a:hover {
    background-color: #fd2e58;
    color: black;
    transition: 0.5s;
    border-radius: 5px;
    -webkit-transition-delay: 0.50ms;
}

.closebtn {
    align-self: flex-end;
     
}
#mySidenav {
   height: 100%;
   width: 150px;
   display: flex;
   flex-direction: column;
   justify-content: left;
   background-color: black;
   position: fixed;
   top: 0;
   left: -300px;
   font-size: 20px;
   transition: left 0.4s;
   padding-left: 30px;
   overflow-x: hidden;
}
#mySidenav:target {
    left: 0px;
}
#mySidenav a {
   color:#ffa600;
   padding-inline: 20px;
   padding-block: 8px;
   text-decoration: none;
   font-family: sans-serif;
}
#mySidenav a:hover {
   color: black;
}

/*--HOME--**/


#Home{
   width: 99vw;
   height: 100vh;
   flex-wrap: wrap;
   justify-content: center;
}

/*--VIDEO--**/
section{

    box-sizing: border-box;
    border: 10px #777;
    margin: 20px 20px 20px 20px;


}
section:hover{
    transform: scale(2);
    z-index: 3;
}

/*Gallery**/

h1{
    color: #ddd;
    position: absolute;
    top: 135%;
    left: 43%;
}

div.gallery {
    display: block;
    position: relative;
    margin: 20px 20px 20px 20px;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 0.5s ease;
    padding-top: 13%;
  }
  
div.gallery:hover {
    transform: scale(1.10);
    
  }
  
div.gallery img {
    width: 275px;
  }
div.desc {
    padding: 15px;
    text-align: center;
  }

#Home {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
}

#Product {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #ddd;
}
#SizeChart {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #ddd;
}
#About {
    
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #ddd;
}

h2{
    color: #ddd;
}

#About{
    text-align: center;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
