*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nexa;
}
body{
    background: #fle7de;
}
nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6vw;
    height: 120px;
    line-height: 120px;
    z-index: 100;
}
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    top: 5px;
}
.top_nav{
    display: flex;
    gap: 50px;
}
.nav_logo{
    display: flex;
    align-items: center;
}
.nav_logo img{
    width: 100px;
}
.nav_menu ul{
    display: flex;
    flex-direction: row;
}
ul li{
    position: relative;
    list-style: none;
    margin: 0 30px;
}
.link{
    text-decoration: none;
    padding: 10px 0;
    color: #000;
    font-size: 15px;
    font-weight: 500;
}
.nav_menu .link_border{
    height: 1px;
    width: 0;
    position: absolute;
    bottom: 43px;
    left: 0;
    background: #000;
    transition: .4s ease-in-out;
}
.nav_menu ul li a:hover ~ .link_border{
    width: 30px;
}

.main{
    position: relative;
    display: flex;
    z-index: 100;
}
.left_col{
    width: 50%;
    padding-left: 70px;
    padding-top: 40px;
}
.left_col .title p{
    font-size: 100px;
    font-weight: 600;
}
.cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 80px 0 0;
}

.nav_menu_right {
    justify-content: space-between;
}

h1 {
    float: right;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 50px;
}
